.transactions-page {
  padding-left: 30px;
  padding-right: 30px;
  padding-top:10px;
  align-items: flex-start;
  align-content: flex-start;
}
.table-actions{
    background: #282929;
    padding: 20px;
    border-radius: 12px;
    border-width: 1px;
    border-color: #2a3545;
    border-style: solid;
}
